
	   body {
  background: #4C4A48;
  font-family: "Roboto", sans-serif;
}



#mySidenav a {
  position: absolute; 
  left: -80px; 
  transition: 0.3s; 
  padding: 15px; 
  width: 100px;  
  text-decoration: none; 
  font-size: 20px; 
  color: white; 
  border-radius: 0 5px 5px 0; 
}

#mySidenav a:hover {
  left: 0; 
}


#nah{
text-align: left;
text-decoration: none;
    color: red;
}
#discord {
  top: 20px;
  background-color: #04AA6D;
}

#github {
  top: 80px;
  background-color: #2196F3; 
}
